/local
/.clang-format
/.DS_Store
/.vscode
/code/.DS_Store
/code/log
/code/build
/code/data
/code/test/env
/code/test/job*

#Thesis stuff
/thesis/*.aux
/thesis/*.fls
/thesis/*.log
/thesis/*.out
/thesis/*.synctex.gz
/thesis/*.toc
/thesis/*.xmpi
/thesis/*.fdb_latexmk
/thesis/.trunk
/thesis/.DS_Store
/thesis/*.bcf
/thesis/*.run.xml
/thesis/*.blg
/thesis/*.bbl